<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ECAdLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ECAdLibResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UniversalLibrary copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>UniversalLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B0824F91815B5B20066A2ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3483A5172E02DA007E8C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F49DD6C1719FEEA003F5D3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F49DD7D1719FEEA003F5D3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F49DD9B1719FF3E003F5D3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
